 #body{
background-image: url('/assets/33.gif'); 
ime-mode: normal;
background-size: 50vw 95vh;
width:33vw;
height: 95vh;
margin-left:29%;
 }
 #logo{
     color: white;
     font-weight: 700;
     font-size: 250%;
     float: left;
     padding-left:18%;
     padding-top: 4%;
 }
 #btn_home{


    &:hover{ 
        opacity: 0.5;
        cursor: pointer;
        }

    background-image: url('/assets/back1.png'); 
    ime-mode: normal;
    width:3vw;
    height: 7vh;
    margin-left:2.5%;
    margin-top: 5%;
//background-color: red; 
}
 #header{
     padding-top: 10px;;
    width:100%;
    height: 25%;
 }
 .btn_h{
    &:hover{ 
        opacity: 0.5;
        cursor: pointer;
        }
    width:10vw;
    height:20vh;
    margin-left: 0.3%;
    float:left;
   // background-color:red;
    margin-top:5%;
    background-image: url('/assets/cal.png'); 
    background-repeat: no-repeat;
    background-size: 6vw 14vh;
 }
 #btn{
    margin-top:28%;
    margin-left: 8%;
    
 }
 #calendar{
    background-image: url('/assets/cal.png'); 
 }
 #store{
    background-image: url('/assets/store.png'); 
 }
 #information{
    background-image: url('/assets/inf4.png'); 
 }
 #about{
    background-image: url('/assets/about.png'); 
 }
 #setting{
    background-image: url('/assets/setting.png'); 
 }
 #instgrm{
    background-image: url('/assets/ins.png'); 
 }